<section id="card">
    <div class="container">
        <div class="row">
            <div class="col-8 card-title">
                <h2>The best design for your studio website</h2>
            </div>
            <div class="col-4"><a href="#">Experienced team</a></div>
        </div>
        <div class="row card-info">
            <div class="col-12 col-sm-12 col-lg-4 col-xl-4 px-md-3 card-item">
                <div class="p-3 shadow-lg mb-1 bg-white rounded-top">
                    <div>
                        <h3 class="card-item-title">audit</h3>
                        <p class="card-item-mess">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu mauris orci.
                            Vestibulum
                            laoreet,
                            massa id facilisis posuere, tortor odio porta ipsum, dapibus molestie tortor nulla
                            id
                            sem. In
                            consectetur.
                        </p>
                    </div>
                </div>
                <div class="p-3 shadow bg-white rounded-bottom">
                    <div>
                        Experienced team
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-lg-4 col-xl-4 px-md-3 card-item">
                <div class="p-3 shadow mb-1 bg-white rounded-top">
                    <div>
                        <h3 class="card-item-title">Teamwork</h3>
                        <p class="card-item-mess">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu mauris orci.
                            Vestibulum
                            laoreet,
                            massa id facilisis posuere, tortor odio porta ipsum, dapibus molestie tortor nulla
                            id
                            sem. In
                            consectetur.
                        </p>
                    </div>
                </div>
                <div class="p-3 shadow bg-white rounded-bottom">
                    <div>
                        Experienced team
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-lg-4 col-xl-4 px-md-3 card-item">
                <div class="p-3 shadow mb-1 bg-white rounded-top">
                    <div>
                        <h3 class="card-item-title">Create</h3>
                        <p class="card-item-mess">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu mauris orci.
                            Vestibulum
                            laoreet,
                            massa id facilisis posuere, tortor odio porta ipsum, dapibus molestie tortor nulla
                            id
                            sem. In
                            consectetur.
                        </p>
                    </div>
                </div>
                <div class="p-3 shadow bg-white rounded-bottom">
                    <div>
                        Experienced team
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>