<section id="cta">
    <div class="container">
        <div class="row cta justify-content-center align-items-center">
            <div class="col-xl-8 col-lg-8 col-sm-12 col-12 ">
                <div class="cta-info">
                    <h4>All-in-one platform for business</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing Ac aliquam ac volutpat, viverra magna risus aliquam massa. Ac aliquam ac volutpat, viverra magna risus. </p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-sm-12 col-12">
                <button class="btn btn-primary btn-lg cta-btn">Get In Touch</button>
            </div>
        </div>
    </div>
</section>