<footer>
    <div class="footer-container">
        <div class="container">
            <div class="row">
                <div class="col-5 col-xl-5 col-lg-5 col-sm-12">
                    <div class="footer-info">
                        <h5 class="footer-head">Space</h5>
                        <div>
                            <p>The best design for your web studio website. Vitae nulla nunc euismod vel pretium tellus
                                accumsan semper. Vitae nulla nunc euismod vel pretium tellus accumsan semper. </p>
                        </div>
                    </div>
                </div>
                <div class="col-1 col-xl-1 col-lg-1 col-sm-12">
                </div>
                <div class="col-6 col-xl-6 col-lg-6 col-sm-12">
                    <div class="row footer-items">
                        <div class="col-4 col-xl-4 col-lg-4 col-sm-4">
                            <div class="title-page">
                                <h5>Pages</h5>
                                <div>
                                    <a href="#">Templates</a>
                                    <a href="#">Templates</a>
                                    <a href="#">Templates</a>
                                    <a href="#">Templates</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 col-xl-4 col-lg-4 col-sm-4">
                            <div class="title-page">
                                <h5>Pages</h5>
                                <div>
                                    <a href="#">Templates</a>
                                    <a href="#">Templates</a>
                                    <a href="#">Templates</a>
                                    <a href="#">Templates</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 col-xl-4 col-lg-4 col-sm-4">
                            <div class="title-page">
                                <h5>Pages</h5>
                                <ul class="title-list" style="list-style-type: none">
                                    <li><a href="#">Templates</a></li>
                                    <li><a href="#">Templates</a></li>
                                    <li><a href="#">Templates</a></li>
                                    <li><a href="#">Templates</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="term-container">
        asdasdasdasdasd
    </div>
</footer>
<script src="js/all.js"></script>
</body>

</html>