<section class="text-center intro-1" id="intro-1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-6 col-xl-6 col-sm-12 intro-title-1 float-right">
                <div class="intro-info-1">
                    <div class="row">
                        <div class="col-1 col-sm-1 col-xl-3 col-lg-3"></div>
                        <div class="col-10 col-sm-10 col-xl-9 col-lg-9">
                            <p>DESIGN INSPIRATION</p>
                            <h1>Convallis turpis erat tempus, viverra aliquet. </h1>
                            <div class="float-left">
                                <button class="btn btn-primary btn-intro1">Get In Touch</button>
                            </div>
                        </div>
                        <div class="col-1 col-sm-1 "></div>
                    </div>

                </div>
            </div>
            <!--  -->
            <div class="col-12 col-lg-6 col-xl-6 col-sm-12">
                <img width="80%" src="/img/hero.png" alt="First slide">
            </div>
        </div>
    </div>
    </div>
</section>