<section id="intro-3">
    <div class="container">
        <div class="slider">
            <div class="slider-title">
                <p>Design concept</p>
                <h2>The best design for your <br>
                    studio website</h2>
            </div>
            <div class="row intro-items-3">
                <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
                    <div class="p-3 shadow-lg mb-1 bg-white rounded-top intro-item-3">
                        <h3 class="card-item-title">name</h3>
                        <p class="card-item-mess">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu mauris orci.
                            Vestibulum
                            laoreet,
                            massa id facilisis posuere, tortor odio porta ipsum, dapibus molestie tortor nulla
                            id
                            sem. In
                            consectetur.
                        </p>
                        <a href="#">Experienced team</a>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
                    <div class="p-3 shadow-lg mb-1 bg-white rounded-top intro-item-3">
                        <h3 class="card-item-title">name</h3>
                        <p class="card-item-mess">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu mauris orci.
                            Vestibulum
                            laoreet,
                            massa id facilisis posuere, tortor odio porta ipsum, dapibus molestie tortor nulla
                            id
                            sem. In
                            consectetur.
                        </p>
                        <a href="#">Experienced team</a>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-lg-4 col-xl-4">
                    <div class="p-3 shadow-lg mb-1 bg-white rounded-top intro-item-3">
                        <h3 class="card-item-title">name</h3>
                        <p class="card-item-mess">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu mauris orci.
                            Vestibulum
                            laoreet,
                            massa id facilisis posuere, tortor odio porta ipsum, dapibus molestie tortor nulla
                            id
                            sem. In
                            consectetur.
                        </p>
                        <a href="#">Experienced team</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>