<div>
    <main role="main">
        <section class="text-center intro-1">
            <div class="container-fluid">
                <div class="row">
                    <div class="col intro-title-1 float-right">
                        <div style="width: 60%;">
                            <p>DESIGN INSPIRATION</p>
                            <h1>Convallis turpis erat tempus, viverra aliquet.</h1>
                        </div>
                    </div>
                    <div class="col">
                        <!-- <div class="progress" style="height: 1px;">
                            <div class="progress-bar" role="progressbar" style="width: 41.5%; color: blue;"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div> -->
                        <img width="827px" height="940px" src="/img/intro1.png" alt="">
                    </div>
                    <div>
                        <button class="btn btn-primary"></button>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>