
        <section class="text-center intro-1" id="intro-1">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-6 col-xl-6 col-sm-12 intro-title-1 float-right">
                        <div style="width: 60%;">
                            <p>DESIGN INSPIRATION</p>
                            <h1>Convallis turpis erat tempus, viverra aliquet.</h1>
                            <div class="float-left">
                                <button class="btn btn-primary">tesst</button>
                            </div>
                            <div class="review">
                                <h3 class="review-tilte">i feel so much less stressed as i now know by the book</h3>
                                <div class="reviewer row clearfix">
                                    <img src="/img/reviewer1.png" alt="" class="reviewer-avar">
                                    <div>
                                        <h5>Andry Ford</h5>
                                        <p>CEO at Whatever</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-xl-6 col-sm-12">
                        <div class="progress" style="height: 3px;">
                            <div class="progress-bar" role="progressbar" style="width: 41.5%; color: blue;"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <img width="85%" src="/img/intro3-2.png" alt="" class="float-right">
                    </div>

                </div>
            </div>
        </section>
      