<section id="review">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6 col-sm-12 col-6 reviews">
                <div class="review">
                    <div class="review-mess">
                        <h4>“Every single person comes away and says - wow that's a really slick experience, that was so
                            easy to
                            use. I feel so much less stressed as I now know we’re doing everything by the book.”</h4>
                    </div>
                    <div class="reviewer">
                        <div class="row clearfix">
                            <div class="col-2 reviewer-avar">
                                <img src="/img/review1.png" alt="">
                            </div>
                            <div class="reviewer-info col-10">
                                <h5>Andry Ford</h5>
                                <span>CEO at Whatever</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="review">
                    <div class="review-mess">
                        <h4>I feel so much less stressed ❤️ as I now know we’re doing everything by the book.”</h4>
                    </div>
                    <div class="reviewer">
                        <div class="row clearfix">
                            <div class="col-2">
                                <img src="/img/review2.png" alt="">
                            </div>
                            <div class="reviewer-info col-10">
                                <h5>Andry Ford</h5>
                                <span>CEO at Whatever</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>