<section id="team">
    <div class="container">
        <div class="team-title">
            <h2>Our leadership</h2>
            <div class="team-info">
                <p>Convallis turpis erat tempus, viverra aliquet. Nullam viverra nam auctor sit ipsum malesuada a, duis
                    volutpat.</p>
            </div>
        </div>
        <div class="row leaders">
            <div class="col-6 col-xl-3 col-lg-3 col-sm-6 px-md-2">
                <div class="leader">
                    <img src="/img/leader1.png" alt="" width="250px">
                    <div class="leader-info">
                        <h5>Andry Ford</h5>
                        <p>CEO at Whatever</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-xl-3 col-lg-3 col-sm-6 px-md-2">
                <div class="leader">
                    <img src="/img/leader2.png" alt="" width="250px">
                    <div class="leader-info">
                        <h5>Andry Ford</h5>
                        <p>CEO at Whatever</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-xl-3 col-lg-3 col-sm-6 px-md-2">
                <div class="leader">
                    <img src="/img/leader3.png" alt="" width="250px">
                    <div class="leader-info">
                        <h5>Andry Ford</h5>
                        <p>CEO at Whatever</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-xl-3 col-lg-3 col-sm-6 px-md-2">
                <div class="leader">
                    <img src="/img/leader4.png" alt="" width="250px">
                    <div class="leader-info">
                        <h5>Andry Ford</h5>
                        <p>CEO at Whatever</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>