<section id="slider" class="section slider">

    <input type="radio" name="slider" id="slider-1" class="slider-radio">
    <input type="radio" name="slider" id="slider-2" class="slider-radio">
    <input type="radio" name="slider" id="slider-3" class="slider-radio" checked>
    <input type="radio" name="slider" id="slider-4" class="slider-radio">
    <input type="radio" name="slider" id="slider-5" class="slider-radio">

    <div class="slider-holder">
        <label for="slider-1" class="slider--item slider--item-1 card">1</label>
        <label for="slider-2" class="slider--item slider--item-2 card">2</label>
        <label for="slider-3" class="slider--item slider--item-3 card">3</label>
        <label for="slider-4" class="slider--item slider--item-4 card">4</label>
        <label for="slider-5" class="slider--item slider--item-5 card">5</label>
    </div>

    <div class="bullets">
        <label for="slider-1" class="bullets--item bullets--item-1">bullets 1</label>
        <label for="slider-2" class="bullets--item bullets--item-2">bullets 2</label>
        <label for="slider-3" class="bullets--item bullets--item-3">bullets 3</label>
        <label for="slider-4" class="bullets--item bullets--item-4">bullets 4</label>
        <label for="slider-5" class="bullets--item bullets--item-5">bullets 5</label>
    </div>
</section>